importFrom("stats", "runif")
importFrom("grDevices", "dev.new")
importFrom("grDevices", "dev.off")
importFrom("grDevices", "dev.size", "windows","x11", "getGraphicsEvent")

importFrom("graphics", "grconvertY", "legend")
importFrom("graphics", "axis", "layout", "par", "plot", "points", "polygon", "rect", "title","text","lines","grconvertX")

importFrom("curl", "curl_fetch_memory" )

export(add3)
export(lorenz,mygame,"+",max,getquote)
export(quad) 
 
 